/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args            = Additional arguments appended to command in module.
        ext.args2           = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3           = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix          = File name prefix for output files.
        ext.when            = Conditional clause
----------------------------------------------------------------------------------------
*/

//
// cyp2d6 calling options
//


process {
    withName: '.*CYP2D6_CALLING:.*' {
        ext.when    = { params.variant_caller !in ['', null] }
        publishDir = [
            path: { "${params.outdir}/CYP2D6" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: '.*CYP2D6_CALLING:PHARMCAT_CYP2D6_MATCHER' {
        ext.args = {" --research-mode combinations,cyp2d6 --matcher-all-results --matcher-save-html "}
        ext.prefix = { "${meta.id}.${params.variant_caller}.pharmcat.CYP2D6" }
    }

    withName: '.*CYP2D6_CALLING:PHARMCAT_CYP2D6_PHENOTYPER' {
        ext.args = {" --genes cyp2d6"}
        ext.prefix = { "${meta.id}.${params.variant_caller}.pharmcat.CYP2D6" }
    }

}
