/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args            = Additional arguments appended to command in module.
        ext.args2           = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3           = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix          = File name prefix for output files.
        ext.when            = Conditional clause
----------------------------------------------------------------------------------------
*/

//
// pharmcat genotyping reporting options
//


process {
    withName: '.*PHARMCAT_GENOTYPING_REPORTING:.*' {
        ext.when    = { params.variant_caller !in ['', null] }
        publishDir = [
            path: { "${params.outdir}/pharmcat/complete_report" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: '.*PHARMCAT_GENOTYPING_REPORTING:PHARMCAT_MATCHER' {
        ext.args = {" --matcher-save-html --matcher-all-results "}
        ext.prefix = { "${meta.id}.${params.variant_caller}.pharmcat" }
    }

    withName: '.*PHARMCAT_GENOTYPING_REPORTING:PHARMCAT_PHENOTYPER' {
        ext.prefix = { "${meta.id}.${params.variant_caller}.pharmcat" }
    }

    withName: '.*PHARMCAT_GENOTYPING_REPORTING:PHARMCAT_REPORTER' {
        ext.args = {" --reporter-sources ${params.pharmcat_reporter_sources} --reporter-save-html --reporter-save-json --reporter-save-calls-only-tsv --reporter-title ${meta.id} "}
        ext.prefix = { "${meta.id}.${params.variant_caller}.pharmcat" }
    }
}
