/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args            = Additional arguments appended to command in module.
        ext.args2           = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3           = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix          = File name prefix for output files.
        ext.when            = Conditional clause
----------------------------------------------------------------------------------------
*/

//
// pharmcat pipeline options
//


process {
    withName: '.*PHARMCAT_PIPELINE:.*' {
        ext.when    = { params.variant_caller !in ['', null] }
        publishDir = [
            path: { "${params.outdir}/pharmcat" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: '.*PHARMCAT_PIPELINE:PHARMCAT_VCFPREPROCESSOR' {
        ext.prefix = { "${meta.id}.pc" }
    }

    withName: '.*PHARMCAT_PIPELINE:PHARMCAT_MATCHER' {
        ext.args = {" --matcher-save-html "}
        ext.prefix = { "${meta.id}.pc" }
    }

    withName: '.*PHARMCAT_PIPELINE:PHARMCAT_PHENOTYPER' {
        ext.prefix = { "${meta.id}.pc" }
    }

    withName: '.*PHARMCAT_PIPELINE:PHARMCAT_REPORTER' {
        ext.args = {" --reporter-sources 'CPIC,FDA' --reporter-save-html --reporter-save-json --reporter-save-calls-only-tsv --reporter-title ${meta.id} "}
        ext.prefix = { "${meta.id}.gatk" }
    }

}