/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args            = Additional arguments appended to command in module.
        ext.args2           = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3           = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix          = File name prefix for output files.
        ext.when            = Conditional clause
----------------------------------------------------------------------------------------
*/

//
// variant calling / haplotyping options
//

process {
    withName: '.*VARIANT_CALLING:.*' {
        publishDir = [
            path: { "${params.outdir}/vcfs" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: '.*VARIANT_CALLING:SENTIEON_HAPLOTYPER' {
        ext.when    = { params.variant_caller.equals('sentieon') }
        ext.args2 = "--given ${params.pharmcat_positions_vcf} "
        ext.prefix = { "${meta.id}.sentieon" }
    }

    withName: '.*VARIANT_CALLING:GATK4_HAPLOTYPECALLER' {
        ext.when    = { params.variant_caller.equals('gatk4') }
        ext.args = "--alleles ${params.pharmcat_positions_vcf} -L ${params.pharmcat_positions_vcf} -ip 20 --max-mnp-distance 1 --output-mode EMIT_ALL_ACTIVE_SITES"
        ext.prefix = { "${meta.id}.gatk" }
    }


    withName: '.*VARIANT_CALLING:DEEPVARIANT_RUNDEEPVARIANT' {
        env.TMPDIR = "/tmp"
        env.TMP    = "/tmp"
        env.TEMP   = "/tmp"

        ext.when    = { params.variant_caller.equals('deepvariant') }
        ext.args = { 
            [
                params.analysis_type == "wgs" ? "--model_type WGS" : "--model_type WES",
            ].join(' ') 
        }
        ext.prefix = { "${meta.id}.deepvariant" }
    }

}