/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args            = Additional arguments appended to command in module.
        ext.args2           = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3           = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix          = File name prefix for output files.
        ext.when            = Conditional clause
----------------------------------------------------------------------------------------
*/

//
// variant filtration and normalization options
//

process {
    withName: '.*VARIANT_FILTRATION:.*' {
        ext.when    = { params.variant_caller !in ['', null] }
        publishDir = [
            path: { "${params.outdir}/snv_calls" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: '.*VARIANT_FILTRATION:BCFTOOLS_NORM' {
        ext.args = " -m+ -c ws -Oz --write-index=tbi "
        ext.prefix = { "${meta.id}.${params.variant_caller}.norm" }
    }

    withName: '.*VARIANT_FILTRATION:BCFTOOLS_MERGE' {
        ext.args = " -m both -Oz --write-index=tbi "
        ext.prefix = { "${meta.id}.${params.variant_caller}.norm.merge" }
    }

    withName: '.*VARIANT_FILTRATION:BCFTOOLS_VIEW' {
        ext.args = {" -s ^PharmCAT -Oz --write-index=tbi --force-samples"}
        ext.prefix = { "${meta.id}.${params.variant_caller}.norm.target" }
    }

    withName: '.*VARIANT_FILTRATION:BCFTOOLS_FILTER' {
        ext.when = { params.filter_vcf }
        if (params.variant_caller.equals("sentieon")){
            ext.args = { " -i 'QUAL>10 && INFO/DP>${params.min_dp}' -Oz --write-index=tbi " }
        } else if (params.variant_caller.equals("deepvariant")){
            ext.args = { " -i 'FORMAT/GQ>19 && FORMAT/DP>${params.min_dp}' -Oz --write-index=tbi " }
        }
        ext.prefix = { "${meta.id}.${params.variant_caller}.norm.target.filtered" }
    }

    withName: '.*VARIANT_FILTRATION:FIX_CHROM_NAMES_EXTRACT_PASS' {
        ext.when = { params.filter_vcf }
        ext.prefix = { "${meta.id}.${params.variant_caller}.norm.merged.view.filtered" }
    }
}
