#Ignore reports, pngs, traces files
dag.png
trace*
.nextflow*
work/

# MISC
TODO.md
CMD.sh

#ignore logs
logs/

#ignore test and tmp files
test/
tmp/

#envs
envs/*simg
envs/*sif
envs/recepies/*sif
envs/recepies/*simg
.venv/
venv/
envs/requirements.txt


#python chace
bin/__pycache__/
bin/sentieon_init.sh
sentieon.nf
create_pgx_samplesheet.sh


# Other files
bin/report_template.txt
bin/snakemake_report.py
bin/pdf.py
subworkflows/local/pharmacoGenomics.nf.backup
deploy_hopper_dev.sh
transfer.log