/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args            = Additional arguments appended to command in module.
        ext.args2           = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3           = Third set of arguments appended to command in module (multi-tool modules).
        ext.args4           = fourth set of arguments appended to command in module (multi-tool modules).
        ext.args5           = fifth set of arguments appended to command in module (multi-tool modules).
        ext.prefix          = File name prefix for output files.
        ext.suffix          = File name suffix for output files.
        ext.suffix2         = File name suffix for output2 files.
        ext.when            = Conditional clause
----------------------------------------------------------------------------------------
*/

process {

    withName: '.*:GET_CLIINICAL_GUIDELINES' {
        container = "${params.container_dir}/target_variants_python.simg"

        publishDir = [ 
            path: "${params.outdir}/${params.subdir}/report/possible_diploids/",
            mode: 'copy',
            overwrite: true,
            pattern: "*.tsv"
        ]

        ext.args   = { [
            " --haplotype_definitions ${params.haplotype_definitions}",
            "--clinical_guidelines ${params.clinical_guidelines}",
            "--haplotype_activity ${params.haplotype_activity}",
            "--hidden_haplotypes ${params.hidden_haplotypes} "
            ].join(" ").trim() 
            }
        ext.prefix = { "${meta.group}" }
    }

    withName: '.*:GET_INTERACTION_GUIDELINES' {
        container = "${params.container_dir}/target_variants_python.simg"

        publishDir = [ 
            path: "${params.outdir}/${params.subdir}/report/possible_interactions/",
            mode: 'copy',
            overwrite: true,
            pattern: "*.tsv"
        ]

        ext.args   = { " --interaction_guidelines ${params.interaction_guidelines} "}
        ext.prefix = { "${meta.group}" }
    }
}