/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args            = Additional arguments appended to command in module.
        ext.args2           = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3           = Third set of arguments appended to command in module (multi-tool modules).
        ext.args4           = fourth set of arguments appended to command in module (multi-tool modules).
        ext.args5           = fifth set of arguments appended to command in module (multi-tool modules).
        ext.prefix          = File name prefix for output files.
        ext.suffix          = File name suffix for output files.
        ext.suffix2         = File name suffix for output2 files.
        ext.when            = Conditional clause
----------------------------------------------------------------------------------------
*/

process {

    withName: '.*:CYP2D6_CNVCALL:CALCULATE_CNV_CYP2D6' {
        container = "${params.container_dir}/python-utils.3.13.2.sif"

        publishDir = [ 
            path: "${params.outdir}/${params.subdir}/cnvcalling/",
            mode: 'copy',
            overwrite: true,
            pattern: "*.CNV.txt"
        ]

        ext.args    = { " -b ${params.cnv_bed} " }
        ext.when    = params.cyp2d6
        ext.prefix  = { "${meta.group}" }
    }

    withName: '.*:CYP2D6_CNVCALL:REPORT_CNV_CYP2D6' {
        container = "${params.container_dir}/python-utils.3.13.2.sif"

        publishDir = [
            [
                path: "${params.outdir}/${params.subdir}/cnvcalling/CYPD26/",
                mode: 'copy',
                overwrite: true,
                pattern: "*_report_filtered.txt"
            ],
            [
                path: "${params.outdir}/${params.subdir}/cnvcalling/CYPD26/",
                mode: 'copy',
                overwrite: true,
                pattern: "*_CYP2D6_vs_CYP2D7_table.txt"
            ],
            [
                path: "${params.outdir}/${params.subdir}/cnvcalling/CYPD26/",
                mode: 'copy',
                overwrite: true,
                pattern: "*.png"
            ],
        ]

        ext.args    = { "-b ${params.cnv_bed} -f ${params.cnv_overlap_bed} -z ${params.cnv_zThreshold} -cn ${params.cnv_cnThreshold} -p ${params.cnv_propThreshold} -l ${params.chrom_length} " }
        ext.prefix  = { "${meta.group}" }
        ext.when    = params.cyp2d6
    }
}
