/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args            = Additional arguments appended to command in module.
        ext.args2           = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3           = Third set of arguments appended to command in module (multi-tool modules).
        ext.args4           = fourth set of arguments appended to command in module (multi-tool modules).
        ext.args5           = fifth set of arguments appended to command in module (multi-tool modules).
        ext.prefix          = File name prefix for output files.
        ext.suffix          = File name suffix for output files.
        ext.suffix2         = File name suffix for output2 files.
        ext.when            = Conditional clause
----------------------------------------------------------------------------------------
*/

process {

    withName: '.*ONTARGET:ONTARGET_BAM' {
        container = "${params.container_dir}/samtools.simg"

        publishDir = [ 
            path: "${params.outdir}/${params.subdir}/bam/",
            mode: 'copy',
            overwrite: true,
            pattern: "*ontarget*.bam*"
        ]

        ext.when    = { params.ontarget }
        ext.args    = { " -h -M -L ${params.padded_target_regions}" }
        ext.prefix  = { "${meta.group}" }
    }

    withName: '.*:ONTARGET:ONTARGET_VCF' {
        container = "${params.container_dir}/bcftools_1.20.sif"

        publishDir = [ 
            path: "${params.outdir}/${params.subdir}/vcf/",
            mode: 'copy',
            overwrite: true,
            pattern: "*.ontarget.*.vcf.gz*"
        ]

        ext.when    = { params.ontarget }
        ext.prefix  = { "${meta.group}" }
        ext.args    = { " -R ${params.padded_target_regions} "}
    }
}
