/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args            = Additional arguments appended to command in module.
        ext.args2           = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3           = Third set of arguments appended to command in module (multi-tool modules).
        ext.args4           = fourth set of arguments appended to command in module (multi-tool modules).
        ext.args5           = fifth set of arguments appended to command in module (multi-tool modules).
        ext.prefix          = File name prefix for output files.
        ext.suffix          = File name suffix for output files.
        ext.suffix2         = File name suffix for output2 files.
        ext.when            = Conditional clause
----------------------------------------------------------------------------------------
*/

process {

    withName: '.*:PHARMCAT:.*' {
        container           = "${params.container_dir}/pharmcat_2.12.0.sif"
        containerOptions    = ' --contain '
    }

    withName: '.*:PHARMCAT:PHARMCAT_PREPROCESSING' {

        publishDir = [ 
            path: "${params.outdir}/${params.subdir}/pharmcat/",
            mode: 'copy',
            overwrite: true,
            pattern: "*.pharmcat.preprocessed.vcf"
        ]

        ext.when    = params.pharmcat
        ext.prefix  = { "${meta.group}" }
        ext.args    = {" --reference-genome /pharmcat/reference.fna.bgz -0 "}
    }

    withName: '.*:PHARMCAT:PHARMCAT_RUN' {

        publishDir = [
            [ 
                path: "${params.outdir}/${params.subdir}/pharmcat/",
                mode: 'copy',
                overwrite: true,
                pattern: "*.html"
            ],
            [ 
                path: "${params.outdir}/${params.subdir}/pharmcat/",
                mode: 'copy',
                overwrite: true,
                pattern: "*.json"
            ],
        ]

        ext.when    = params.pharmcat
        ext.prefix  = { "${meta.group}" }
        // ext.args    = {" --reporter-save-json --reporter-save-html --reporter-save-calls-only-tsv --reporter-title ${meta.group} "}
        ext.args    = {" --reporter-save-json --reporter-title ${meta.group} "}
    }

    // withName: '.*:PHARMCAT:PHARMCAT_VCF_BED' {
    //     container           = "${params.container_dir}/pharmcat_2.12.0.sif"
    //     containerOptions    = ' --contain '

    //     ext.prefix  = { "pharmcat_vcf_positions" }
    //     ext.when    = params.pharmcat
    //     ext.args    = {" --pharmcat_vcf /pharmcat/pharmcat_positions.vcf "}
    // }

    withName: '.*:PHARMCAT:PHARMCAT_RUN_CYP2D6' {

        publishDir = [ 
            path: "${params.outdir}/${params.subdir}/pharmcat/cyp2d6/",
            mode: 'copy',
            overwrite: true,
            pattern: "*.json"
        ]

        ext.prefix  = { "${meta.group}.pharmcat_CYP2D6_call" }
        ext.when    = params.cyp2d6
        // ext.args    = {" --reporter-save-json  --reporter-save-calls-only-tsv --research combinations,cyp2d6 "}
        ext.args    = {" --reporter-save-json --research combinations,cyp2d6 "}
    }

    withName: '.*:PHARMCAT:EXTRACT_CYP2D6_HAPLOTYPES' {

        publishDir = [
            path: "${params.outdir}/${params.subdir}/pharmcat/cyp2d6/",
            mode: 'copy',
            overwrite: true,
            pattern: "*.cyp2d6.genotypes.txt"
        ]

        ext.when    = params.cyp2d6
        ext.prefix  = { "${meta.group}" }
    }

    withName: '.*:PHARMCAT:UNCOVERED_PHARMCAT_POSTIONS' {
        container = "${params.container_dir}/python-utils.3.13.2.sif"
        
        publishDir = [
            path: "${params.outdir}/${params.subdir}/coverage/",
            mode: 'copy',
            overwrite: true,
            pattern: "*.pharmcat.pos.low.coverage.txt"
        ]

        ext.args    = { " --coverage_threshold  ${params.coverage_threshold} "}
        ext.prefix  = { "${meta.group}" }
    }

}