/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for Lund params for the pipeline.
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines reference genomes using Lund genome paths.
----------------------------------------------------------------------------------------
*/


params {

    // Reference Genome Information
    genome                          = 'GRCh38'
    igenomes_ignore                 = true
    igenomes_base                   = null
    local_genomes                   = '/fs1/resources/ref/'
    save_reference                  = false

    // Main Params    
    restrict_to_contigs             = null
    save_mapped_as_cram             = false
    skip_tools                      = null
    skip_subworkflows               = null
    platform                        = 'illumina'

    // Reference Genome Paths
    fasta                           = "${params.local_genomes}/hg38/fasta/masked/GCA_000001405.15_GRCh38_no_alt_analysis_set_nochr_masked.fna"
    fai                             = "${params.local_genomes}/hg38/fasta/masked/GCA_000001405.15_GRCh38_no_alt_analysis_set_nochr_masked.fna.fai"
    sequence_dictionary             = "${params.local_genomes}/hg38/fasta/masked/GCA_000001405.15_GRCh38_no_alt_analysis_set_nochr_masked.dict"
    bwa                             = "${params.local_genomes}/hg38/fasta/masked/"
    // bwamem2                         = "${params.local_genomes}/hg38/fasta/masked/GCA_000001405.15_GRCh38_no_alt_analysis_set_nochr_masked.{amb,ann,bwt,pac,sa}"
    bwamem2                         = "${params.local_genomes}/hg38/fasta/masked/"
    bwameme                         = null
    target_bed                      = "${params.local_genomes}/hg38/bed/pharmacogenomics/orebro/pgx_panelv2_TE-97619858_hg38_grch38_refseq_mane_whole_genes_and_snps_PAD50_VARIANT_CALLING_240412.bed"
    intervals_wgs                   = null

    // Alignment
    aligner                         = 'sentieon'
    mbuffer_mem                     = 10240 
    samtools_sort_threads           = 12
    min_trimmed_length              = 40
    rmdup                           = false

    // Variant calling
    gatk4                           = true
    sentieon                        = true
    samtools                        = true
    bcbio                           = false
    merge_variants                  = true
    min_variant_callers_required    = 2
    ml_model                        = "https://s3.amazonaws.com/sentieon-release/other/SentieonDNAscopeModel1.1.model"

    // CNV Calling
    // TODO:

    // HLA Calling
    // TODO:

    // Phamrcat
    pharmcat                        = true
    pharmcat_resource_dir           = 'assets/pharmcat_resources'
    pharmcat_bed                    = 'assets/pharmcat_resources/pharmcat_positions_3.0.0.bed'
    // TODO:

    // MultiQC
    // multiqc_config                  = 'assets/multiqc_config.yml'
    multiqc_title                   = 'PrecisionPGx Lund'
    // multiqc_logo                    = 'assets/PrecisionPGx-light.png'
    max_multiqc_email_size          = '25.MB'
    // multiqc_methods_description     = 'assets/methods_description_template.yml'

    // Biolerplate params
    email                           = 'ram.nanduri@skane.se'
    email_on_fail                   = 'ram.nanduri@skane.se'

    // config options
    config_profile_name             = 'lund'
    config_profile_description      = 'Lund config'

}